/* Главная страница */
/* Мобильная версия */
@font-face {
    font-family: deus_ex;
    src: url(fonts/deus_ex.otf);
}

@font-face {
    font-family: cyberpunk;
    src: url(fonts/cyberpunk.ttf);
}

header {
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
    margin-bottom: 50px;
}

header img {
    width: 100%;
    height: auto;
}

body {
    background: silver url(Detroit.jpg) fixed no-repeat;
}

.max-width {
    width: 100%;
    margin: auto;
    clear: both;
}

.main_div {
    background: rgba(0, 0, 0, 0.8);
    font-family: deus_ex, cursive;
    color: white;
    display: block;
    flex-direction: column;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    border-bottom: 1px solid white;
}

.product__element {
    margin: 10px;
    display: inline-block;
}

.product__element tr, th {
    border: 2px solid Lavender;
    background-color: white;
}

.product__element img {
    width: auto;
    height: 200px;
}

.product__name {
    background-color: lightblue;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

h1,
h2 {
    color: white;
    text-align: center;
}

#menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#menu li {
    list-style-type: none;
    display: inline-block;
}

#menu li a {
    text-decoration: none;
    display: block;
}

#menu img {
    width: 100%;
    height: auto;
}

.slick-prev:before,
.slick-next:before {
    color: white !important;
}

.slick-dots li button:before {
    color: white !important;
  }

.slick-slide img {
    max-width: 100%;
    border: 1px solid white;
}

.gallery {
    text-align: center;
}

.spoiler-trigger {
    color: #0b70db;
    text-decoration: none;
    padding-left: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVQoU2PkLrj9n4EAYAQp+jpBlRGXOpA8hiJ0TaQrwuY2kDNINwnmcKLchO5LuHWEwgkAlO5FBwhFaI8AAAAASUVORK5CYII=) no-repeat 0 50%;
}

.spoiler-trigger.active {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKklEQVQoU2PkLrj9n4EAYAQp+jpBlRGXOpA8DRRhcxvIGTSyjqDvCIUTAEcINQcERZkIAAAAAElFTkSuQmCC);
}

.spoiler-trigger>span {
    border-bottom: 1px dashed #0b70db;
    padding: 0 3px;
}

.spoiler-trigger:hover>span {
    border-bottom-style: solid;
}

.spoiler-block {
    display: none;
}

footer {
    width: 100%;
    margin: 10px 0 0;
    background-color: white;
    color: black;
    font-size: 2em;
    font-family: cyberpunk, fantasy;
}

/* ПК-версия */
@media screen and (orientation: landscape) and (min-width: 720px) {

    header img {
        width: auto;
        height: auto;
    }

    header {
        margin-bottom: 5px;
    }
    
    .max-width {
        width: 960px;
    }

    .product {
        display: flex;
        flex-direction: row;
    }

    #menu {
        width: 960px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #menu img {
        width: auto;
        height: auto;
    }
}

/* Формы */
/* Мобильная версия */
.form_div {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    font-family: deus_ex, cursive;
    color: white;
    max-width: 100%;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.input_user1 {
    width: 70%;
    margin: 3px;
    background: lightgrey;
    border: none;
    color: black;
    font-family: deus_ex, cursive;
    font-weight: 300;
    padding: 10px;
}

.input_user2 {
    width: 70%;
    margin: 3px;
    background: lightgrey;
    border: none;
    color: black;
    font-family: deus_ex, cursive;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    font-weight: 300;
}

.input_user1:focus,
.input_user2:focus,
.input_user3:focus {
    outline-color: grey;
}

.input_user3 {
    width: 70%;
    height: 100px;
    margin: 6px 0;
    background: lightgrey;
    border: none;
    color: black;
    font-family: deus_ex, cursive;
    padding: 10px;
    font-weight: 300;
}

.input_user1:hover,
.input_user2:hover {
    border: none;
}

.btn {
    outline: none;
    border: 0;
    background: transparent;
}

.label_avatar {
    font-size: 15px;
    text-align: left;
}

.error {
     border: 2px solid red;
}

.user {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.user__data {
    display: flex;
    flex-direction: column;

}

.user__img {
    max-width: 200px;
}

.en_lang {
    display: none;
}

.rus_lang {
    display: inline;
}

.change_lang {
    text-align: right;
}

#change_lang {
    text-decoration: none;
    border: 1px solid gray;
    padding: 5px 15px;
    margin-top: 20px;
    margin-right: 0;
    color: blue;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#change_lang:hover {
    color: red;
}

a {
    color: blue;
}

a:hover {
     color: red;
}

.back {
    text-align: left;
}

.back img{
    max-width: 30px;
    border: 1px solid white;
}

/* ПК-версия */
@media screen and (orientation: landscape) and (min-width: 720px) {

    .form_div{
        height: auto;
        width: 800px;
    }

    .form {
        width: 600px;
    }

    .input_user1, input_user2, input_user3 {
        width: 80%;
        margin: 8px;
        font-weight: 500;
    }
}